<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SuspendBall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A08AAD11E1B86CC00431520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A08AAEA1E1B86CD00431520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A08AAF51E1B86CD00431520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
